<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/css-script') %>
  <title>Document</title>
</head>
    <body style="background: url(https://c0.wallpaperflare.com/preview/539/217/128/ecommerce-online-store-online-shop-store.jpg);">
      <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                  
                  <div class="mb-md-5 mt-md-4 pb-5">
                    
      
                    <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
                    <form class="mt-md-4" action="/signup" method="post">
                      <div class="form-outline form-white mb-4">
                        <input type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Email" name="email" />
                      </div>
        
                      <div class="form-outline form-white mb-4">
                        <input type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Password" name="password" />
                      </div>
        
                      <button class="btn btn-outline-light btn-lg px-5" type="submit"> submit </button>
                    </form>
    
                  </div>
                  <div>
                    <p class="mb-0">you alredy have account? <a href="/login" class="text-white-50 fw-bold">Login</a>
                    </p>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <%- include('partials/javascript') %>
</body>
</html>